---
import CommonHead from "../components/Unreactive/CommonHead.astro";
import RegisForm from "../components/Reactive/regisForm.svelte";
---

<CommonHead title = "Register"/>
<body>
    <h1>Register</h1>
    <RegisForm client:load />
    <p>Already have an account? <a href="/signin">Sign In</a></p>
</body>

<style>
    body{
        background-color:
    }
</style>