---
import CommonHead from "../components/Unreactive/CommonHead.astro";
import LoginForm from "../components/Reactive/loginForm.svelte";
---

<CommonHead title = "LogIn"/>
<body>
    <h1>SignIn</h1>
    <LoginForm client:load />
    <p>Dont have an account? <a href="/register">Create one</a></p>
</body>

<style>
    button{
        padding:10px;
    }
</style>