---
import CommonHead from "../components/Unreactive/CommonHead.astro";
import NavBar from "../components/Unreactive/NavBar.astro";
---

<CommonHead title = "test"/>
<body>
    <NavBar />
    <h1>Test Other</h1>
</body>

<style is:global>
    *{
		margin: 0;
		padding: 0;
	}
</style>