---
import CommonHead from "../components/CommonHead.astro";
import NavBar from "../components/NavBar.astro";
---

<CommonHead />
<body>
    <NavBar />
    <h1>Test Other</h1>
</body>

<style is:global>
    *{
		margin: 0;
		padding: 0;
	}
</style>