---
import NavBar from "../components/Unreactive/NavBar.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Test">
    <h1>Test Other</h1>
</Layout>

<style is:global>
    *{
		margin: 0;
		padding: 0;
	}
</style>