---
import ChangeInfo from '../../components/Reactive/changeInfo.svelte';
import Changepfp from '../../components/Reactive/changepfp.svelte';
import Layout from '../../layouts/layout.astro';
import { checklogin } from '../_utils';

async function genCheck(){
    let username: string | undefined = "";
    const token = Astro.cookies.get('jwt-token');
    const check = Astro.cookies.get("username");

    if(!token){
        Astro.redirect('signin');
        return;
    }
    if(check && check !== undefined){
        username = check.value;
    }else{
        const { usernamec } = await checklogin(token.value);
        if(usernamec){
            username = usernamec.toString();
            Astro.cookies.set("username", username);
        }else{
            Astro.redirect('signin');
        }
    }

    return { working: true, check: check, username: username };
}
let bio: string = "";
let name: string = "";

const data = await genCheck();
if (!data) return;
let { working, check, username } = data;

console.log(check);

const response = await fetch(import.meta.env.API_URL + "/user/get/" + username).catch(() => null);
if (!response || !response.ok) {
    working = false;
} else {
    const data = await response.json();
    bio = data.user.bio ? data.user.bio : "";
    name = data.user.name ? data.user.name : "";
}
---
<Layout title="Your Profile">
    <h1>Your Profile</h1>
    <Changepfp client:load/>
    { working ? <ChangeInfo client:load userBio={bio} name={name} /> : <p>Server Error</p> }
    <form action="/api/auth/signout">
        <button type="submit">SignOut</button>
    </form>
    <p><a href={"/profile/" + username}>How Other People See Your Profile</a></p>
</Layout>