---
import CommonHead from '../../components/CommonHead.astro';
import NavBar from '../../components/NavBar.astro';
import { checklogin } from '../_utils';
let username: string | undefined = ""
const token = Astro.cookies.get('jwt-token');
const check = Astro.cookies.get("username");
if(!token){
    return Astro.redirect('signin');
}
if(check){
    username = check.value;
}else{
    let { usernamec } = await checklogin(token.value);
    if(usernamec){
        username = usernamec.toString();
        Astro.cookies.set("username", username);
    }else{
        Astro.redirect('signin');
    }
}
---
<CommonHead />
<body>
    <NavBar />
    <h1>{username}'s Profile</h1>
    <form action="/api/auth/signout">
        <button type="submit">SignOut</button>
    </form>
</body>