---
let data;
try {
    data = await fetch(import.meta.env.API_URL).then((response) =>
        response.json()
    );
} catch (e) {
    console.log("Server Down");
    data = {
        message: "Error: Server Down",
    };
}
---

<h1>API Test: {data.message}</h1>

<style lang="scss">
    h1{
        display: inline;
        color:rgb(255, 22, 22);
        &:hover{
            color:blue;
        }
    }
</style>