---
import NavBar from '../components/Unreactive/NavBar.astro';
import TestFetch from '../components/Unreactive/TestFetch.astro';
import Layout from '../layouts/layout.astro';
---

<Layout title="Home">
	<h1>ReShop</h1>
	<TestFetch />
</Layout>

<style lang="scss">
	body{
		background-color: aliceblue;
		padding:0;
		margin:0;
	}
</style>